html,body,ul,li,p,h1,img {padding:0;margin:0;border:0}
body {font:14px Arial;color:#333;background:#fff;}
.wrapper {width:600px;margin:0 auto;}
.header {background:#FFDB73;}
.main_nav {margin:0 0 10px;background:#FFB173}
.main_nav li {display:inline-block;}
.main_nav a {display:block;padding:5px}
.main_nav a:hover {color:#fff;background:#A64A00}
.main .wrapper {position:relative}

article {width:68%;padding:0 2% 0 0;margin:0 0 10px;}
article h1{color:#080B74}
article time {font-size:0.9em;}
.tags span {font-size:0.9em;border-bottom:1px dotted #006561;margin:0 5px 0 0;color:#006561;cursor:pointer;}
article p {text-align:justify}
aside {float:right;width:28%;padding:0 0 0 2%;}
aside div {margin:0 0 10px;}
.footer {clear:both;color:#fff;background:#303285}